.c-header{
	position: relative;
	height: 28vh;
	color: #fff;
	background-image: url(./pattern-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	padding: 1rem;
}

.c-header-title{
	font-weight:  500;
}